h1 {
    font-family: reross-quadratic, sans-serif;
    font-size: 50px;
    color: #FF3900;
    font-style: normal;
    font-weight: 400;
}

h2 {
    font-family: reross-quadratic, sans-serif;
    font-size: 34px;
    color: #414141;
    font-style: normal;
    font-weight: 400;
}

/*
Futura PT Demi 18 Black
Futura PT Medium 16 Black
Futura PT Medium 16 #9D9D9D
Futura PT Medium 14 Black
*/

h3 {
    font-family: futura-pt, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    color: black;
}

h4 {
    font-family: futura-pt, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    color: black;

}

article {
    width: 75%;
}

article > h1 {
    padding: 40px 0px 40px 0px;
}

img {
    width: 100%;
}

nav {
    /* display: grid;
    grid-template-areas:
    'logo'
    'ham'; */
    grid-area: nav;
    width: 100%;
    height: 690px;
}

.button {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    display: inline-flex;
    width: 169px;
    height: 50px;
    
    border: 3px solid #FF3900;
    font-family: futura-pt, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    color: #FF3900;
    text-decoration: none;
    
}

.top1 {
    grid-area: top1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.top2 {
    grid-area: top2;
}

.top3 {
    grid-area: top3;
}

.header-grid {
    display: grid;
    grid-template-areas: 
    'top1 nav'
    'top2 nav'
    'top3 nav';
    grid-template-columns: 1fr 20vw;
    grid-gap: 40px;
    background-color: rgba(0, 0, 0, 0);
}

.header-grid > div {
    background-color: rgba(0, 0, 0, 0);
    text-align: left;
}

#articleType {
    color: #FF3900;
    font-weight: 700;
}

#ham {
    position: relative;
    bottom: 69px;
    width: 5vw;
    height: 5vw;
    max-width: 100px;
    max-height: 100px;
}

#logo {
    position: relative;
    width: 20vw;
    right: 20px;
    z-index: 1;
}

#navback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    position: relative;
    /*bottom: 420px;*/
    bottom: 69%;
    float: right;
    left: 2vw;
    width: 100%;
    height: 50vh;
    min-height: 666px;
    
    background-color: #e7e7e7;
}

@media screen and (max-width: 800px) {
    nav {
        display: grid;
        grid-template-areas: 'logo nav';
        grid-template-columns: 20vw 1fr;
    }

    .header-grid {
        grid-template-areas: 
        'nav'
        'top1'
        'top2'
        'top3';
        grid-template-columns: 1fr
    }

    #ham {
        position: relative;
        bottom: 0px;
        left: 35vw;
        width: 10vw;
        height: 10vw;
        max-width: 100px;
        max-height: 100px;
        
    }
    
    #logo {
        grid-area: logo;
        width: initial;
        left: 5vw;
        height: 50vh;
        min-height: 250px;
    }

    #navback {
        position: absolute;

        grid-area: nav;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        top: 0%;
        left: 0;
        width: 100vw;
        height: 50vh;
        min-height: 265px;
    }
}